    @import url(http://fonts.googleapis.com/css?family=Raleway:500,700,800);
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src: url('../fonts/codropsicons/codropsicons.eot');
    src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    background: #ececec;
    color: #606871;
    font-weight: 500;
    overflow-x: hidden;
    font-size: 1.05em;
    font-family: 'Raleway', Arial, sans-serif;
}

a {
    outline: none;
    color: #96bbe5;
    text-decoration: none;
}

.delivoro-filtro>a:hover,
.delivoro-filtro>a:focus,
.delivoro-filtro a.active-filter {
    color: #337ab7;
    border: 3px solid;
}

.color-1 {
    background: #383838;
    color: #f4f4f4;
}

.color-1 .delivoro-header h1 span {
    color: rgb(107, 103, 103);
}

.color-1 a {
    color: #7DCF9B;
}

.color-1 a:hover,
.color-1 a:focus,
.color-1 .delivoro-filtro a.active-filter {
    color: #69A07E;
}

.color-2 {
    background: #ddd;
    color: #8d93b6;
}

.color-2 a {
    color: #8d93b6;
}

.color-2 a:hover,
.color-2 a:focus,
.color-2 .delivoro-filtro a.active-filter {
    color: #727798;
}

.color-3 {
    /* background: #d8d8d8; */
    /* color: #4e4e4f; */
}

.color-3 a {
    /* color: #e48895; */
}

.color-3 a:hover,
.color-3 a:focus,
.color-3 .delivoro-filtro a.active-filter {
    /* color: #4e4e4f; */
}

.delivoro-filtro>.btn.focus,
.delivoro-filtro>.btn:focus,
.delivoro-filtro>.btn:hover,
.delivoro-filtro>.btn.active {
    color: #337ab7;
}

.container {
    /* margin: 0 auto; */
    /* min-height: calc(100vh + (4 * 70px)); */
    /* text-align: center; */
}

.content {
    margin: 0 auto;
    padding: 2em 0;
    max-width: 1000px;
    text-align: right;
}


/* Header */

.delivoro-header {
    padding: 3em;
    letter-spacing: -1px;
}

.delivoro-header h1 {
    margin: 0.25em;
    font-weight: 800;
    font-size: 6em;
    line-height: 1;
}

.delivoro-header h1 span {
    display: block;
    margin-top: 0.5em;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
    font-size: 0.45em;
}


/* Top Navigation Style */

.codrops-links {
    position: relative;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 1.05em;
}

.codrops-links::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #dbdbdb;
    -webkit-transform: rotate3d(0, 0, 1, 22.5deg);
    transform: rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
    display: inline-block;
    margin: 0.5em;
    padding: 0em 0;
    width: 1.5em;
    text-decoration: none;
}

.codrops-icon span {
    display: none;
}

.codrops-icon:before {
    margin: 0 5px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
    content: "\e001";
}

.codrops-icon--prev:before {
    content: "\e004";
}


/* Codrops demos */

.delivoro-filtro {
    padding-top: 1em;
    text-align: center;
    /* background: #e2e2e2; */
    /* border-radius: 4px; */
}

.delivoro-filtro a {
    display: inline-block;
    margin: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 0.85em;
}

.dummy-browser {
    position: relative;
    border-top: 30px solid rgba(181, 183, 188, 0.6);
    border-bottom: 10px solid rgba(181, 183, 188, 0.6);
    border-radius: 10px 10px 0 0;
}

.dummy-browser--inner {
    position: relative;
    overflow: hidden;
}

.color-1 .dummy-browser--inner {
    background: rgb(236, 236, 236);
}

.color-2 .dummy-browser {
    background: rgb(69, 66, 66);
}

.dummy-browser::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fdb0ad;
    box-shadow: 20px 0 0 #fdeaa2, 40px 0 0 #d7edb4;
}

.dummy-header {
    display: block;
    height: 4em;
    background: rgba(181, 183, 188, 0.3);
}

.dummy-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2.5em;
    width: 300px;
    height: 100%;
}

.dummy-sidebar__item {
    margin: 1em 0;
    width: 100%;
    height: 2.5em;
    background: rgba(181, 183, 188, 0.3);
}

.delivoro-produtos {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #e2e2e2;
    border-radius: 4px;
    margin-bottom: 100px;
}

.delivoro-produtos--filled {
    padding: 2.5em 2em;
    background: rgba(181, 183, 188, 0.1);
}

.delivoro-produtos--sidebar {
    padding-right: 300px;
}

.delivoro-produtos--sidebar .delivoro-produtos__item {
    width: 29%;
}

.dummy-sidebar__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgb(79, 77, 78);
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    pointer-events: none;
}

.checkout--active~.dummy-sidebar__overlay {
    opacity: 1;
}

.delivoro-produtos::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(62, 64, 71, 0.4);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    pointer-events: none;
}

.checkout--active+.delivoro-produtos::after {
    opacity: 1;
}

.delivoro-produtos__item {
    position: relative;
    float: left;
    margin: 0 2% 2em;
    width: 21%;
    height: 250px;
}

.delivoro-produtos--highlight .delivoro-produtos__item:first-child::before,
.delivoro-produtos--highlight .delivoro-produtos__item:nth-child(4)::before,
.delivoro-produtos--highlight .delivoro-produtos__item:nth-child(7)::before {
    background: rgba(228, 136, 149, 0.5);
}

.delivoro-produtos__item::before,
.delivoro-produtos__item::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
}

.delivoro-produtos__item::before {
    top: 0;
    height: 70%;
    background: rgba(181, 183, 188, 0.3);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.delivoro-produtos__item::after {
    top: 80%;
    height: 15%;
    border-top: 10px solid rgba(181, 183, 188, 0.3);
    border-bottom: 10px solid rgba(181, 183, 188, 0.3);
}

.dummy-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    height: calc(3em + 30px);
    background: #337ab7;
    text-align: center;
}


/* Related demos */

.content--related {
    padding-bottom: 10em;
    text-align: center;
    font-weight: bold;
}

.media-item {
    display: inline-block;
    padding: 1em;
    vertical-align: top;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.media-item__img {
    opacity: 0.8;
    max-width: 100%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
    opacity: 1;
}

.media-item__title {
    margin: 0;
    padding: 0.5em;
    font-size: 1em;
}

@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
.checkout__icon {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    fill: #ffffff;
}

.checkout__count {
    position: absolute;
    top: 10px;
    right: 1.5em;
    padding: 0.5em;
    width: 2em;
    height: 2em;
    /* border: 2px solid #ffffff; */
    border-radius: 50%;
    font-weight: bold;
    font-family: 'Maven Pro', sans-serif;
    line-height: 0.9;
    background: #1b4b75;
    color: #ffffff;
    font-size: 2em;
}

.checkout {
    position: absolute;
    /* left: 43%; */
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
    /* margin-left: -4.5em; */
    width: 19em;
    height: 3em;
    font-weight: 400;
    font-family: 'Maven Pro', sans-serif;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.checkout--active {
    /* center on screen (padding of parent, half of summary height, half of viewport height) */
    -webkit-transform: translate3d(0, 15px, 0) translate3d(0, 30vh, 0) translate3d(0, -50vh, 0);
    transform: translate3d(0, 15px, 0) translate3d(0, 30vh, 0) translate3d(0, -50vh, 0);
}

a.checkout__button {
    position: relative;
    z-index: 10;
    display: block;
    margin: 0 auto;
    /* padding: 200px; */
    height: 100%;
    border-radius: 30px;
    color: #fff;
    background: #1b4b75;
    line-height: 2em;
    -webkit-transition: background-color 0.6s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    transition: background-color 0.6s cubic-bezier(0.7, 0, 0.3, 1), transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    font-size: 1.6em;
}

a.checkout__button:hover,
a.checkout__button:focus {
    outline: none;
    /* color: #fff; */
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    border: none;
}

.checkout--active a.checkout__button {
    background-color: #337ab7;
    -webkit-transform: perspective(1000px) translate3d(0, -2.5em, 0);
    transform: perspective(1000px) translate3d(0, -2.5em, 0);
}

.checkout__text-inner {
    font-weight: bold;
}

.checkout__final-text,
.checkout__initial-text {
    -webkit-transition: opacity 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    transition: opacity 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.checkout--active .checkout__initial-text {
    opacity: 0
}

.checkout__final-text {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
}

.checkout--active .checkout__final-text {
    opacity: 1;
}

.checkout__order,
.checkout__order::before {
    position: absolute;
    bottom: 0%;
    /* left: 50%; */
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate3d(-50%, 0%, 0);
    transform: translate3d(-50%, 0%, 0);
}

.checkout__order {
    overflow: hidden;
    /* min-width: 320px; */
    max-width: 900px;
    width: 95vw;
    height: 75vh;
    text-align: right;
    pointer-events: none;
}

.checkout--active .checkout__order {
    pointer-events: auto;
}

.checkout__order::before {
    content: '';
    z-index: 0;
    width: 9em;
    height: 3em;
    border-radius: 30px;
    background: #4e4e4f;
    -webkit-transition: width 0.6s cubic-bezier(0.7, 0, 0.3, 1), height 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    transition: width 0.6s cubic-bezier(0.7, 0, 0.3, 1), height 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.checkout--active .checkout__order::before {
    width: 100%;
    height: 100%;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.checkout__order-inner {
    position: relative;
    padding: 3em 4em;
    /* overflow-y: auto; */
    /* height: 455px; */
}

.checkout__close {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    overflow: hidden;
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    color: transparent;
    text-indent: 100%;
    opacity: 0;
    backface-visibility: hidden;
}

.checkout__close:focus {
    outline: none;
}

.checkout--active .checkout__close {
    opacity: 1;
    -webkit-transition: opacity 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0.015s;
    transition: opacity 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0.015s;
}

.checkout__close .icon {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-indent: 0;
}

.checkout__close:hover .icon {
    color: #337ab7;
}

.checkout__summary {
    margin: 0.5em 0 0.75em;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 1.15em;
    line-height: 1.5;
    /* overflow-y: scroll; */
    /* height: 247px!important; */
    margin-bottom: 75px;
}

.checkout__summary tr {
    opacity: 0;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.8s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

.checkout__summary tr:nth-child(1) {
    -webkit-transform: translate3d(0, 120px, 0);
    transform: translate3d(0, 120px, 0);
}

.checkout__summary tr:nth-child(2) {
    -webkit-transform: translate3d(0, 140px, 0);
    transform: translate3d(0, 140px, 0);
}

.checkout__summary tr:nth-child(3) {
    -webkit-transform: translate3d(0, 160px, 0);
    transform: translate3d(0, 160px, 0);
}

.checkout__summary tr:nth-child(4) {
    -webkit-transform: translate3d(0, 180px, 0);
    transform: translate3d(0, 180px, 0);
}

.checkout__summary tr:nth-child(5) {
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
}

.checkout__summary tr:nth-child(6) {
    -webkit-transform: translate3d(0, 220px, 0);
    transform: translate3d(0, 220px, 0);
}

.checkout--active .checkout__summary tr {
    opacity: 1;
    -webkit-transform: perspective(1000px) translate3d(0, 0, 0);
    transform: perspective(1000px) translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.8s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.8s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.8s cubic-bezier(0.7, 0, 0.3, 1);
}

.checkout--active .checkout__summary tbody tr:nth-child(1) {
    -webkit-transition-delay: 0.015s;
    transition-delay: 0.015s;
}

.checkout--active .checkout__summary tbody tr:nth-child(2) {
    -webkit-transition-delay: 0.03s;
    transition-delay: 0.03s;
}

.checkout--active .checkout__summary tbody tr:nth-child(3) {
    -webkit-transition-delay: 0.045s;
    transition-delay: 0.045s;
}

.checkout--active .checkout__summary tbody tr:nth-child(4) {
    -webkit-transition-delay: 0.06s;
    transition-delay: 0.06s;
}

.checkout--active .checkout__summary tbody tr:nth-child(5) {
    -webkit-transition-delay: 0.075s;
    transition-delay: 0.075s;
}

.checkout--active .checkout__summary tbody tr:nth-child(6) {
    -webkit-transition-delay: 0.09s;
    transition-delay: 0.09s;
}

.checkout__summary tfoot tr>td {
    padding: 0.5em 0.5em;
    /* text-align: left; */
    font-size: 1.6em;
}

.checkout__summary tfoot tr>td:first-child {
    text-align: left;
}

.checkout__summary tbody td {
    padding: 0.25em 0;
    font-weight: 400;
    font-size: 1.6em;
}

.checkout__summary thead th {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.6em;
    line-height: 2;
}

.checkout__summary thead th:first-child,
.checkout__summary tbody td:first-child {
    text-align: left;
}

.checkout__summary tbody td span {
    color: #5ab3ff;
}

.checkout__summary th:last-child,
.checkout__summary td:last-child {
    text-align: right;
}

.checkout__action {
    padding: 0;
    border: none;
    background: none;
}

.checkout__action:focus {
    outline: none;
}

.checkout__action .icon {
    color: #5ab3ff;
}

@media screen and (max-width: 26em) {
    .checkout--active {
        -webkit-transform: translate3d(0, 15px, 0);
        transform: translate3d(0, 15px, 0);
    }
    .checkout__order::before {
        border-radius: 0
    }
    .checkout__summary {
        margin-top: 2em
    }
    .checkout__order-inner {
        padding: 1em 1.75em
    }
    .checkout__order {
        width: 100vw;
        height: 100vh;
    }
    .checkout__summary th:last-child,
    .checkout__summary td:last-child {
        padding-left: 10px
    }
}

a {
    -webkit-transition: .25s all;
    transition: .25s all;
}

.card {
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: .25s box-shadow;
    transition: .25s box-shadow;
    /* height: 100%!important; */
    display: block;
    background: white;
}

.card:focus,
.card:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.card-inverse .card-img-overlay {
    background-color: rgba(51, 51, 51, 0.85);
    border-color: rgba(51, 51, 51, 0.85);
}

.item {
    padding: 10px;
    min-height: 510px;
    display: block;
    /* background: white; */
}

.card>.card-block {
    padding: 15px;
    min-height: 330px;
}

.card-block>a {
    display: block;
    /* margin-top: calc(85px - 40px); */
}

nav.delivoro-filtro a {
    font-size: 1.5em;
    border: 3px solid;
    box-shadow: none!important;
}

.checkout__order {
    box-sizing: border-box;
}

th {
    text-align: center;
}

h4.card-title {
    font-size: 2.6em;
    min-height: 90px;
}

h6.price {
    font-size: 2em;
    color: #337ab7;
    font-family: sans-serif;
    font-weight: 800;
}

p.card-text {
    font-size: 1.4em;
    min-height: 200px;
}

@media screen and (max-width: 50em) {
    .delivoro-header {
        padding: 3em 10% 4em;
    }
}

@media screen and (max-width: 40em) {
    .delivoro-header h1 {
        font-size: 2.8em;
    }
    .delivoro-produtos--sidebar {
        padding: 1em;
    }
    .dummy-sidebar {
        position: static;
        z-index: 100;
        width: 100%;
    }
    .dummy-sidebar__item {
        display: none;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
    .alert-minimalist {
        background-color: rgb(255, 97, 36);
        border-color: rgba(149, 149, 149, 0.3);
        border-radius: 3px;
        color: rgb(149, 149, 149);
        padding: 10px;
    }
    .alert-minimalist>[data-notify="icon"] {
        height: 50px;
        margin-right: 12px;
        width: 50px;
    }
    .alert-minimalist>[data-notify="title"] {
        color: rgb(162, 45, 0);
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 1.5em;
    }
    .alert-minimalist>[data-notify="message"] {
        font-size: 80%;
        color: white;
        font-size: 1.5em;
    }
    [data-notify="progressbar"] {
        margin-bottom: 0px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 5px;
    }
    .help-faq {
        background: #1b4b75;
        padding: 20px;
        height: 100%;
        display: block;
        position: fixed;
    }
    .media-body>spam {
        color: white!important;
    }
    span.text-blue {
        color: white;
        font-size: 1.5em;
    }
    .media>h4.media-heading {
        margin-bottom: 25px;
        margin-top: 20px;
        color: #91ccff;
        font-size: 2em;
    }
    .panel {}
    div#content-container-txt>.panel {
        margin-top: 25px;
    }
    .anim-removing {
        animation: fade 1s steps(90) forwards;
        -webkit-animation: fade 1s steps(90) forwards;
        -moz-animation: fade 1s steps(90) forwards;
    }
    .destaque {
        /* border: 2px solid #fefefe; */
        padding: 4px;
        background: #337ab7;
        border-radius: 4px;
        transition: 0.7s;
        display: block;
        text-align: center;
    }
    tr.desconto-progressivo {
        /* margin-top: 100px; */
        /* top: 100px; */
    }
    tr.desconto-progressivo {
        background: #337ab7;
        /* offset-distance: 5px; */
        /* border-radius: 11px; */
        /* overflow: hidden; */
    }
    table {
        border-collapse: separate;
        border-spacing: 0 10px;
        margin-top: -10px;
        /* correct offset on first border spacing if desired */
    }
    td {
        /* border-style: solid none; */
        padding: 10px;
    }
    td:first-child {
        /* border-left-style: solid; */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    td:last-child {
        /* border-right-style: solid; */
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
    tr.desconto-cupom {
        background: #5cb85c;
    }
    table.checkout__summary>tbody>tr>td {
        padding: 0px!important;
        margin: 0px!important;
        line-height: 20px;
    }
    /*esconter linhas sem conteudo*/
    table.checkout__summary tbody tr:empty {
        display: none;
    }
    /*corrigir barra de rolagem*/
    .checkout.checkout--active>div>.checkout__order-inner {
        overflow-y: auto;
        height: 100%;
    }
    .preco-parcelado {
        bottom: 90px;
        position: absolute;
        text-align: center;
        color: white;
        width: 100%;
        font-size: 3em;
    }
    .preco-parcelado-valor {
        display: block;
        background: #5cb85c;
        border-radius: 4px;
        width: 80%;
        margin: 0 auto;
        color: #fefefe;
    }

    .preco-parcelado-texto > small, .preco-parcelado-valor-apos-1ano > small {
    color: white;
    font-size: .5em;
    width: 90%;
    display: block;
    color: #4ab7ff;
    margin-bottom: 5px;
    margin-top: 5px;
}

    @keyframes fade {
        from {
            opacity: 1;
        }
        to {
            opacity: 0.0;
        }
    }